{% extends 'base.html' %}
{% block title %}Listagem de Posts{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Agradeço de Coração a Join pela Oportunidade</h1>
      <p class="lead">Aqui meu teste, usei o Git, criei algumas branch para melhor auxiliar na analise das etapas que
        desenvolvi.</p>
    </div>
  </div>
  <div class="container">
    <p>Exe 1: R- A, B</p>
    <div class="row">
      {% for pessoa in p %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{pessoa.nome}}</h5>
            <p class="card-text">{{pessoa.id_cargo}}</p>
            <p class="card-text">{{pessoa.admissao}}</p>
            <a href="#" class="btn btn-primary">Atualizar informações</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <p>Exe 7:</p>
  </div>
  {% endblock %}